{% extends "base.html" %}

{% block head %}
<title>Genetic Algorithm</title>
<style>
.danger {
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #ffdddd;
    border-left: 6px solid #f44336;
}
.info {
    margin-bottom: 15px;
    padding: 4px 12px;
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
}
</style>
{% endblock %}

{% block content %}
    <h3>Parameters</h3>
    <section id="Parameters">
        <div>
            Upper Threshold :
            <input type="number" value="{{Upper}}" readonly/>
        </div>
        <br>
        <div>
            Lower Threshold 
            <input type="number" value="{{Lower}}" readonly/>
        </div>
        <br>
        <div>
            Stop Loss : 
            <input type="number" value="{{Stoploss}}" readonly/>
        </div>
        <br>
        <div>
            Take Profit : 
            <input type="number" value="{{Takeprofit}}" readonly/>
        </div>
        <br>
        <div>
            Time Out : 
            <input type="number" value="{{Timeout}}" readonly/>
        </div>
    </section>
    <br>
    <form action="/forward/" method="post">
        <button class="button" name="forwardBtn" type="submit">Optimize Parameters</button>
    </form>
    <div class="info">
        <p><strong>Info!</strong> Optimize Parameters will take two hours</p>
    </div>
    <div class="danger">
        <p><strong>Danger!</strong> You can't exit from the page if you start optimizing</p>
    </div>
{% endblock %}