{% extends "base.html" %}

{% block head %}
<title>Statistical Arbitrage</title>
<style>
    #Results {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #Results td, #Results th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    
    #Results tr:nth-child(even){background-color: #f2f2f2;}
    
    #Results tr:hover {background-color: #ddd;}
    
    #Results th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
    </style>
{% endblock %}

{% block content %}
<h3>Statistical Arbitrage</h3>
<form action="/start/" method="post">
    <section id="order">
        USDT Start
        <input type="number" id="usdt start" required value="{{usdt}}" name="usdt" min="20" max="1000000000"/>
        Order amount(percentage)
        <input type="number" id="percentage" required value="{{amount}}" name="quantity" min="1" max="40">
    </section>
    <br>
        <button class="button" id="start"  name="startBtn" type="submit">Start</button>
</form>
</div>
<h4>Results</h4>
<a href="/DownloadCsv">Download csv</a>
<table id='Results'>
    <tr>
      <th>Date</th>
      <th>BTC Amount</th>
      <th>ETH Amount</th>
      <th>Portfolio $</th>
      <th>Event</th>
      <th>BTCUSDT</th>
      <th>ETHUSDT</th>
        {% for line in table %}
        <tr>
            {% for element in line %}
            <td>
                {{ element }}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tr>
  </table>
  <script>
    function Disabling() {
      document.getElementById("start").disabled = true;
    }
    </script>
{% endblock %}
